<div class="login-container">
    <h1>Login to OfficeCelebr8!</h1>
    <div>
        <div class="input-group mb-3">
            <label for="email" class="input-group-text">Email</label>
            <input type="text" class="form-control" placeholder="Enter email address" name="email">
            <span class="input-group-text">&#64;</span>
            <input type="text" class="form-control" placeholder="example.com" aria-label="Server">
        </div>

        <div class="input-group">
            <label for="password" class="input-group-text">Password</label>
            <input type="password" class="form-control" placeholder="Enter password (8-15)" name="password">
        </div>
        <hr>
        <div>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <br>
    </div>
</div>