<nav class="navbar navbar-expand-lg justify-content-center">
  <img src="./logo/OfficeCelebr8_logo_nobg.png" class="header" routerLink="/" alt="logo" title="OfficeCelebr8">
</nav>
<div class="dock">
  <div class="dock-container">
    <li class="li-1" routerLink="/">
      <div class="name">Home</div>
      <img class="ico"
        src="https://purepng.com/public/uploads/large/purepng.com-home-iconsymbolsiconsapple-iosiosios-8-iconsios-8-721522596056wkxtr.png"
        alt="">
    </li>
    <li class="li-2">
      <div class="name">Your Rooms</div>
      <img class="ico" src="https://cdn1.iconfinder.com/data/icons/social-media-2618/32/Event-512.png" alt="">
    </li>
    <li class="li-user li-3" routerLink="login">
      <div class="name">Login</div>
      <img class="ico ico-user" src="http://www.newdesignfile.com/postpic/2010/12/icon-user-clip-art_287719.png" alt="">
    </li>

  </div>
</div>